In [54]:
import pandas as pd
import csv 
import geopandas as gpd
from datetime import timedelta
from shapely.geometry import Point
from shapely import wkt

In [55]:
C_im_date = pd.read_csv('../data/Cienega/CienegaImageryDates.csv', parse_dates=['date'])
C_sur_date = pd.read_csv('../data/Cienega/Cienega_survey_dates.csv', parse_dates=['Cienega date'])
C_sur_date['Cienega date'] = pd.to_datetime(C_sur_date['Cienega date'])
C_im_date['date'] = pd.to_datetime(C_im_date['date'])

C_hyd = pd.read_csv('../data/Cienega/CienegaHydroData.csv')
C_hyd['datetime'] = pd.to_datetime(C_hyd['datetime'])

C_sur_date = C_sur_date.dropna(subset=['Cienega date'])
C_im_date = C_im_date.dropna(subset=['date'])

C_surveyData = pd.read_csv('../data/Cienega/Cienega_surveyData.csv')

In [56]:
matching_dates = []
tolerance = timedelta(days = 5)


for date1 in C_sur_date['Cienega date']:
    exact_date = False
    tol = False 
    for date2 in C_im_date['date']:
        if date1 == date2:
            matching_dates.append({'Survey': date1, 'Imagery': date2})
            exact_date = True
    if not exact_date:
        for date2 in C_im_date['date']:
            if abs(date1 - date2) <= tolerance:
                matching_dates.append({'Survey': date1, 'Imagery': date2})
                tol = True
        if not tol:
            for date2 in C_im_date['date']:
                if abs(date1-date2) < timedelta(days = 10): 
                    matching_dates.append({'Survey': date1, 'Imagery': date2})


matching_dates_df = pd.DataFrame(matching_dates)

In [57]:
C_datessurData = pd.merge(matching_dates_df, C_hyd, left_on = 'Survey', right_on = 'datetime', how = 'left')
C_datesimData = pd.merge(matching_dates_df, C_hyd, left_on = 'Imagery', right_on = 'datetime')
C_datessurData = C_datessurData.drop(columns = ['Imagery','datetime'])
C_datesimData = C_datesimData.drop(columns = ['Survey','datetime'])

In [58]:
def sum_pdatesbetween(d1, d2):
    r = pd.date_range(start=min(d1,d2), end=max(d1,d2))
    return C_hyd[C_hyd['datetime'].isin(r)]['P [mm]'].sum()

In [59]:
Ch = pd.DataFrame([])

Ch['Survey'] = matching_dates_df['Survey']
Ch['Imagery'] = matching_dates_df['Imagery']
Ch['sum_P'] = [sum_pdatesbetween(C_datessurData.loc[i, 'Survey'], C_datesimData.loc[i, 'Imagery']) for i in range(len(Ch))]
Ch['Q_diff [%]'] = (C_datessurData['Q [mm/d]'] - C_datesimData['Q [mm/d]']) / C_datessurData['Q [mm/d]'] * 100
Ch['Use/not'] = ['use', 'use', 'use', 'use', 'not', 'not', 'use?',
                 'not', 'only option', 'not', 'not', 'use', 'not',
                 'not', 'not', 'use', 'not', 'not', 'not', 'not',
                 'use', 'use', 'use', 'only option','use', 'use', 
                 'use','use', 'not', 'not', 'not', 'not', 'use', 
                 'not', 'use', 'use', 'use', 'use', 'use', 'not', 
                 'not', 'not', 'not', 'use', 'not', 'not', 'not', 
                 'not', 'not', 'use', 'not', 'not', 'not', 'use', 
                 'not', 'use', 'use']


conditions = (Ch['sum_P'] > 3) | (Ch['Q_diff [%]'] > 8) | (Ch['Use/not'] == 'not')

Ch = Ch[~conditions]

Ch = Ch.drop(columns=['Use/not'])

Ch

       Survey    Imagery  sum_P  Q_diff [%]
0  2016-09-23 2016-09-22    0.0    0.000000
1  2017-03-16 2017-03-13    0.0    0.000000
2  2017-06-09 2017-06-09    0.0    0.000000
3  2017-09-19 2017-09-21    0.0    4.587156
6  2017-12-08 2017-12-07    0.0   -2.803738
11 2018-06-05 2018-06-04    0.0    7.142857
15 2018-09-08 2018-09-07    0.0    1.785714
20 2018-12-17 2018-12-17    0.0    0.000000
21 2019-03-26 2019-03-26    0.0    0.000000
22 2019-06-07 2019-06-07    0.0    0.000000
24 2019-12-13 2019-12-13    0.0    0.000000
25 2020-03-24 2020-03-24    0.0    0.000000
26 2020-06-12 2020-06-12    0.0    0.000000
27 2020-09-17 2020-09-17    0.0    0.000000
32 2020-12-18 2020-12-19    0.0   -5.263158
34 2021-03-19 2021-03-19    0.0    0.000000
35 2021-06-09 2021-06-09    0.0    0.000000
36 2021-09-10 2021-09-10    0.0    0.000000
37 2021-12-13 2021-12-13    0.0    0.000000
38 2022-03-18 2022-03-18    0.0    0.000000
43 2022-06-03 2022-06-02    0.0    1.136364
49 2022-09-08 2022-09-07    0.0    2.400000
53 2022-12-15 2022-12-17    0.0    0.000000
55 2023-03-10 2023-03-10    0.0    0.000000
56 2023-06-08 2023-06-08    0.0    0.000000

In [60]:
Ch.to_csv('../data/Cienega/Cienega_survey_imagery_HydroData.csv', encoding='utf-8', index=False)

In [61]:
C_surveyData['geometry'] = C_surveyData['geometry'].apply(wkt.loads)
gdf = gpd.GeoDataFrame(C_surveyData, geometry='geometry', crs='EPSG:26912')

gdf['x'] = gdf.geometry.x
gdf['y'] = gdf.geometry.y
gdf = gdf[['geometry', 'x', 'y', 'Year', 'wetdry']]
gdf['Year'] = pd.to_datetime(gdf['Year'])
gdf

,geometry,x,y,Year,wetdry
0,POINT (533719.252 3542427.373),533719.252411,3.542427e+06,2004-06-25,dry
1,POINT (533719.787 3542422.402),533719.786671,3.542422e+06,2004-06-25,dry
2,POINT (533720.321 3542417.431),533720.320931,3.542417e+06,2004-06-25,dry
3,POINT (533720.855 3542412.459),533720.855191,3.542412e+06,2004-06-25,dry
4,POINT (533721.389 3542407.488),533721.389451,3.542407e+06,2004-06-25,dry
...,...,...,...,...,...
237685,POINT (533717.227 3542446.217),533717.227336,3.542446e+06,2013-09-05,dry
237686,POINT (533717.762 3542441.246),533717.761591,3.542441e+06,2013-09-05,dry
237687,POINT (533718.296 3542436.274),533718.295846,3.542436e+06,2013-09-05,dry
237688,POINT (533718.830 3542431.303),533718.830102,3.542431e+06,2013-09-05,dry
237689,POINT (539670.938 3540292.749),539670.938285,3.540293e+06,2013-09-05,dry

In [67]:
C_mergedata = Ch.merge(gdf, left_on = 'Survey', right_on = 'Year')
C_mergedata = C_mergedata.drop(columns=['Year', 'Survey', 'sum_P', 'Q_diff [%]'])
C_mergedata

,Imagery,geometry,x,y,wetdry
0,2016-09-22,POINT (533719.252 3542427.373),533719.252411,3.542427e+06,dry
1,2016-09-22,POINT (533719.787 3542422.402),533719.786671,3.542422e+06,dry
2,2016-09-22,POINT (533720.321 3542417.431),533720.320931,3.542417e+06,dry
3,2016-09-22,POINT (533720.855 3542412.459),533720.855191,3.542412e+06,dry
4,2016-09-22,POINT (533721.389 3542407.488),533721.389451,3.542407e+06,dry
...,...,...,...,...,...
66020,2023-06-08,POINT (533717.227 3542446.217),533717.227336,3.542446e+06,dry
66021,2023-06-08,POINT (533717.762 3542441.246),533717.761591,3.542441e+06,dry
66022,2023-06-08,POINT (533718.296 3542436.274),533718.295846,3.542436e+06,dry
66023,2023-06-08,POINT (533718.830 3542431.303),533718.830102,3.542431e+06,dry
66024,2023-06-08,POINT (539670.938 3540292.749),539670.938285,3.540293e+06,dry