In [3]:
import pandas as pd
import csv 
from datetime import timedelta

In [5]:
C_im_date = pd.read_csv('../data/Cienega/CienegaImageryDates.csv', parse_dates=['date'])
C_sur_date = pd.read_csv('../data/Cienega/Cienega_survey_dates.csv', parse_dates=['Cienega date'])
C_sur_date['Cienega date'] = pd.to_datetime(C_sur_date['Cienega date'])
C_im_date['date'] = pd.to_datetime(C_im_date['date'])

C_surhyd = pd.read_csv('../data/Cienega/CienegaHydroData.csv')
C_surhyd['datetime'] = pd.to_datetime(C_surhyd['datetime'])

C_sur_date = C_sur_date.dropna(subset=['Cienega date'])
C_im_date = C_im_date.dropna(subset=['date'])

In [ ]:
matching_dates = []
tolerance = timedelta(days = 5)


for date1 in C_sur_date['Cienega date']:
    exact_date = False
    tol = False 
    for date2 in C_im_date['date']:
        if date1 == date2:
            matching_dates.append({'Survey': date1, 'Imagery': date2})
            exact_date = True
    if not exact_date:
        for date2 in C_im_date['date']:
            if abs(date1 - date2) <= tolerance:
                matching_dates.append({'Survey': date1, 'Imagery': date2})
                tol = True
        if not tol:
            for date2 in C_im_date['date']:
                if abs(date1-date2) < timedelta(days = 10): 
                    matching_dates.append({'Survey': date1, 'Imagery': date2})


matching_dates_df = pd.DataFrame(matching_dates)

In [62]:
C_datessurData = pd.merge(matching_dates_df, C_surhyd, left_on = 'Survey', right_on = 'datetime', how = 'left')
C_datesimData = pd.merge(matching_dates_df, C_surhyd, left_on = 'Imagery', right_on = 'datetime')
C_datessurData = C_datessurData.drop(columns = ['Imagery','datetime'])
C_datesimData = C_datesimData.drop(columns = ['Survey','datetime'])

In [80]:
Ch = pd.DataFrame([])

Ch['Survey'] = matching_dates_df['Survey']
Ch['Imagery'] = matching_dates_df['Imagery']
Ch['sum_P'] = C_datessurData['P [mm]'] + C_datesimData['P [mm]']
Ch['Q_diff'] = (C_datessurData['Q [mm/d]'] - C_datesimData['Q [mm/d]']) / C_datessurData['Q [mm/d]'] * 100
Ch

       Survey    Imagery   sum_P     Q_diff
0  2016-09-23 2016-09-22   0.000   0.000000
1  2017-03-16 2017-03-13   0.000   0.000000
2  2017-06-09 2017-06-09   0.000   0.000000
3  2017-09-19 2017-09-21   0.000   4.587156
4  2017-09-19 2017-09-23   0.000   5.504587
5  2017-12-08 2017-12-04   0.000 -21.495327
6  2017-12-08 2017-12-07   0.000  -2.803738
7  2017-12-08 2017-12-09   0.000   8.411215
8  2018-03-23 2018-03-17   0.000  20.754717
9  2018-03-23 2018-03-31   0.000 -26.415094
10 2018-06-05 2018-06-02   0.000   7.142857
11 2018-06-05 2018-06-04   0.000   7.142857
12 2018-06-05 2018-06-08   0.000   7.142857
13 2018-06-05 2018-06-09   0.000   0.000000
14 2018-09-08 2018-09-06   0.000   3.571429
15 2018-09-08 2018-09-07   0.000   1.785714
16 2018-09-08 2018-09-09   1.016   0.000000
17 2018-09-08 2018-09-10   0.000   0.000000
18 2018-09-08 2018-09-11   0.000   8.928571
19 2018-09-08 2018-09-12   0.000  17.857143
20 2018-12-17 2018-12-17   0.000   0.000000
21 2019-03-26 2019-03-26   0.000   0.000000
22 2019-06-07 2019-06-07   0.000   0.000000
23 2019-09-13 2019-09-20   0.000  10.169492
24 2019-12-13 2019-12-13   0.000   0.000000
25 2020-03-24 2020-03-24   0.000   0.000000
26 2020-06-12 2020-06-12   0.000   0.000000
27 2020-09-17 2020-09-17   0.000   0.000000
28 2020-12-18 2020-12-13   0.000   0.000000
29 2020-12-18 2020-12-14   0.000   5.263158
30 2020-12-18 2020-12-15   0.000   5.263158
31 2020-12-18 2020-12-16   0.000   0.000000
32 2020-12-18 2020-12-19   0.000  -5.263158
33 2020-12-18 2020-12-20   0.000  -5.263158
34 2021-03-19 2021-03-19   0.000   0.000000
35 2021-06-09 2021-06-09   0.000   0.000000
36 2021-09-10 2021-09-10   0.000   0.000000
37 2021-12-13 2021-12-13   0.000   0.000000
38 2022-03-18 2022-03-18   0.000   0.000000
39 2022-06-03 2022-05-29   0.000   0.000000
40 2022-06-03 2022-05-30   0.000   0.000000
41 2022-06-03 2022-05-31   0.000   1.136364
42 2022-06-03 2022-06-01   0.000   1.136364
43 2022-06-03 2022-06-02   0.000   1.136364
44 2022-06-03 2022-06-04   0.000   1.136364
45 2022-06-03 2022-06-07   0.000   3.409091
46 2022-06-03 2022-06-08   0.000   0.000000
47 2022-09-08 2022-09-05   0.000   1.600000
48 2022-09-08 2022-09-06   0.000   5.600000
49 2022-09-08 2022-09-07   0.000   2.400000
50 2022-09-08 2022-09-11  11.938  -6.400000
51 2022-12-15 2022-12-10   0.000   0.571429
52 2022-12-15 2022-12-11   0.000   0.000000
53 2022-12-15 2022-12-17   0.000   0.000000
54 2022-12-15 2022-12-19   0.000   0.000000
55 2023-03-10 2023-03-10   0.000   0.000000
56 2023-06-08 2023-06-08   0.000   0.000000

In [ ]:
Ch.to_csv('../data/Cienega/Cienega_survey_imagery_HydroData.csv', encoding='utf-8', index=False)