In [7]:
import pandas as pd
import csv 
from datetime import timedelta

In [10]:
C_im_date = pd.read_csv('../data/Cienega/CienegaImageryDates.csv', parse_dates=['date'])
C_sur_date = pd.read_csv('../data/Cienega/Cienega_survey_dates.csv', parse_dates=['Cienega date'])
C_sur_date['Cienega date'] = pd.to_datetime(C_sur_date['Cienega date'])
C_im_date['date'] = pd.to_datetime(C_im_date['date'])

C_sur_date = C_sur_date.dropna(subset=['Cienega date'])
C_im_date = C_im_date.dropna(subset=['date'])

In [112]:
matching_dates = []
tolerance = timedelta(days = 5)


for date1 in C_sur_date['Cienega date']:
    exact_date = False
    tol = False 
    for date2 in C_im_date['date']:
        if date1 == date2:
            matching_dates.append({'Survey': date1, 'Imagery': date2})
            exact_date = True
    if not exact_date:
        for date2 in C_im_date['date']:
            if abs(date1 - date2) <= tolerance:
                matching_dates.append({'Survey': date1, 'Imagery': date2})
                tol = True
        if not tol:
            for date2 in C_im_date['date']:
                if abs(date1-date2) < timedelta(days = 10): 
                    matching_dates.append({'Survey': date1, 'Imagery': date2})


matching_dates_df = pd.DataFrame(matching_dates)

In [103]:
matching_dates_df.to_csv('../data/Cienega/Cienega_survey_imagery.csv', encoding='utf-8', index=False)

In [114]:
matching_dates_df

       Survey    Imagery
0  2016-09-23 2016-09-22
1  2017-03-16 2017-03-13
2  2017-06-09 2017-06-09
3  2017-09-19 2017-09-21
4  2017-09-19 2017-09-23
5  2017-12-08 2017-12-04
6  2017-12-08 2017-12-07
7  2017-12-08 2017-12-09
8  2018-03-23 2018-03-17
9  2018-03-23 2018-03-31
10 2018-06-05 2018-06-02
11 2018-06-05 2018-06-04
12 2018-06-05 2018-06-08
13 2018-06-05 2018-06-09
14 2018-09-08 2018-09-06
15 2018-09-08 2018-09-07
16 2018-09-08 2018-09-09
17 2018-09-08 2018-09-10
18 2018-09-08 2018-09-11
19 2018-09-08 2018-09-12
20 2018-12-17 2018-12-17
21 2019-03-26 2019-03-26
22 2019-06-07 2019-06-07
23 2019-09-13 2019-09-20
24 2019-12-13 2019-12-13
25 2020-03-24 2020-03-24
26 2020-06-12 2020-06-12
27 2020-09-17 2020-09-17
28 2020-12-18 2020-12-13
29 2020-12-18 2020-12-14
30 2020-12-18 2020-12-15
31 2020-12-18 2020-12-16
32 2020-12-18 2020-12-19
33 2020-12-18 2020-12-20
34 2021-03-19 2021-03-19
35 2021-06-09 2021-06-09
36 2021-09-10 2021-09-10
37 2021-12-13 2021-12-13
38 2022-03-18 2022-03-18
39 2022-06-03 2022-05-29
40 2022-06-03 2022-05-30
41 2022-06-03 2022-05-31
42 2022-06-03 2022-06-01
43 2022-06-03 2022-06-02
44 2022-06-03 2022-06-04
45 2022-06-03 2022-06-07
46 2022-06-03 2022-06-08
47 2022-09-08 2022-09-05
48 2022-09-08 2022-09-06
49 2022-09-08 2022-09-07
50 2022-09-08 2022-09-11
51 2022-12-15 2022-12-10
52 2022-12-15 2022-12-11
53 2022-12-15 2022-12-17
54 2022-12-15 2022-12-19
55 2023-03-10 2023-03-10
56 2023-06-08 2023-06-08