In [25]:
import pandas as pd
import csv 
import geopandas as gpd
from datetime import timedelta
from shapely.geometry import Point
from shapely import wkt
import glob

In [26]:
C_surveyData

,Unnamed: 0,geometry,Year,wetdry
0,0,POINT (533719.2524112025 3542427.373284319),6-25-2004,dry
1,1,POINT (533719.7866711848 3542422.401909633),6-25-2004,dry
2,2,POINT (533720.320931167 3542417.430534947),6-25-2004,dry
3,3,POINT (533720.8551911493 3542412.45916026),6-25-2004,dry
4,4,POINT (533721.3894511315 3542407.487785575),6-25-2004,dry
...,...,...,...,...
237685,2636,POINT (533717.2273356405 3542446.217103645),9-5-2013,dry
237686,2637,POINT (533717.7615909436 3542441.245728455),9-5-2013,dry
237687,2638,POINT (533718.2958462466 3542436.274353267),9-5-2013,dry
237688,2639,POINT (533718.8301015497 3542431.302978077),9-5-2013,dry
237689,2640,POINT (539670.9382846388 3540292.748781616),9-5-2013,dry

In [77]:
#read csv files and adjust to datetime
C_im_date = pd.read_csv('../data/Cienega/CienegaImageryDates.csv', parse_dates=['date'])
C_sur_date = pd.read_csv('../data/Cienega/Cienega_survey_dates.csv', parse_dates=['Cienega date'])
C_sur_date['Cienega date'] = pd.to_datetime(C_sur_date['Cienega date'])
C_im_date['date'] = pd.to_datetime(C_im_date['date'])

C_hyd = pd.read_csv('../data/Cienega/CienegaHydroData.csv')
C_hyd['datetime'] = pd.to_datetime(C_hyd['datetime'])

C_precipitation = pd.read_csv('../data/Cienega/daymet_precip.csv')
C_precipitation['system:time_start'] = pd.to_datetime(C_precipitation['system:time_start'])
C_precipitation.rename( columns={'00000000000000000000':'P','system:time_start':'day'}, inplace=True )

C_sur_date = C_sur_date.dropna(subset=['Cienega date'])
C_im_date = C_im_date.dropna(subset=['date'])

C_surveyData = pd.read_csv('../data/Cienega/Cienega_surveyData.csv')

In [28]:
C_precipitation

            day  P [mm]
0    2016-01-01    0.00
1    2016-01-02    0.00
2    2016-01-03   34.02
3    2016-01-04   37.25
4    2016-01-05   11.08
...         ...     ...
2915 2023-12-27    0.00
2916 2023-12-28    0.00
2917 2023-12-29    0.00
2918 2023-12-30    0.00
2919 2023-12-31    0.00

[2920 rows x 2 columns]

In [29]:
#find matching dates between survey and imagery
matching_dates = []
tolerance = timedelta(days = 5)


for date1 in C_sur_date['Cienega date']:
    exact_date = False
    tol = False 
    for date2 in C_im_date['date']:
        if date1 == date2:
            matching_dates.append({'Survey': date1, 'Imagery': date2})
            exact_date = True
    if not exact_date:
        for date2 in C_im_date['date']:
            if abs(date1 - date2) <= tolerance:
                matching_dates.append({'Survey': date1, 'Imagery': date2})
                tol = True
        if not tol:
            for date2 in C_im_date['date']:
                if abs(date1-date2) < timedelta(days = 10): 
                    matching_dates.append({'Survey': date1, 'Imagery': date2})


matching_dates_df = pd.DataFrame(matching_dates)

In [30]:
#C_hyd['P'] =

In [31]:
C_datessurData = pd.merge(matching_dates_df, C_hyd, left_on = 'Survey', right_on = 'datetime', how = 'left')
C_datesimData = pd.merge(matching_dates_df, C_hyd, left_on = 'Imagery', right_on = 'datetime')
C_datessurData = C_datessurData.drop(columns = ['Imagery','datetime'])
C_datesimData = C_datesimData.drop(columns = ['Survey','datetime'])

In [32]:
#sum precipitation for dates in between survey and imagery
def sum_pdatesbetween(d1, d2):
    r = pd.date_range(start=min(d1,d2), end=max(d1,d2))
    return C_hyd[C_hyd['datetime'].isin(r)]['P [mm]'].sum()

In [33]:
#making a dataframe to determine which imagery dates to use
Ch = pd.DataFrame([])

Ch['Survey'] = matching_dates_df['Survey']
Ch['Imagery'] = matching_dates_df['Imagery']
Ch['sum_P'] = [sum_pdatesbetween(C_datessurData.loc[i, 'Survey'], C_datesimData.loc[i, 'Imagery']) for i in range(len(Ch))]
Ch['Q_diff [%]'] = (C_datessurData['Q [mm/d]'] - C_datesimData['Q [mm/d]']) / C_datessurData['Q [mm/d]'] * 100
Ch['Use/not'] = ['use', 'use', 'use', 'use', 'not', 'not', 'use?',
                 'not', 'only option', 'not', 'not', 'use', 'not',
                 'not', 'not', 'use', 'not', 'not', 'not', 'not',
                 'use', 'use', 'use', 'only option','use', 'use', 
                 'use','use', 'not', 'not', 'not', 'not', 'use', 
                 'not', 'use', 'use', 'use', 'use', 'use', 'not', 
                 'not', 'not', 'not', 'use', 'not', 'not', 'not', 
                 'not', 'not', 'use', 'not', 'not', 'not', 'use', 
                 'not', 'use', 'use']


conditions = (Ch['sum_P'] > 3) | (Ch['Q_diff [%]'] > 8) | (Ch['Use/not'] == 'not')

Ch = Ch[~conditions]

Ch = Ch.drop(columns=['Use/not'])

Ch

       Survey    Imagery  sum_P  Q_diff [%]
0  2016-09-23 2016-09-22    0.0    0.000000
1  2017-03-16 2017-03-13    0.0    0.000000
2  2017-06-09 2017-06-09    0.0    0.000000
3  2017-09-19 2017-09-21    0.0    4.587156
6  2017-12-08 2017-12-07    0.0   -2.803738
11 2018-06-05 2018-06-04    0.0    7.142857
15 2018-09-08 2018-09-07    0.0    1.785714
20 2018-12-17 2018-12-17    0.0    0.000000
21 2019-03-26 2019-03-26    0.0    0.000000
22 2019-06-07 2019-06-07    0.0    0.000000
24 2019-12-13 2019-12-13    0.0    0.000000
25 2020-03-24 2020-03-24    0.0    0.000000
26 2020-06-12 2020-06-12    0.0    0.000000
27 2020-09-17 2020-09-17    0.0    0.000000
32 2020-12-18 2020-12-19    0.0   -5.263158
34 2021-03-19 2021-03-19    0.0    0.000000
35 2021-06-09 2021-06-09    0.0    0.000000
36 2021-09-10 2021-09-10    0.0    0.000000
37 2021-12-13 2021-12-13    0.0    0.000000
38 2022-03-18 2022-03-18    0.0    0.000000
43 2022-06-03 2022-06-02    0.0    1.136364
49 2022-09-08 2022-09-07    0.0    2.400000
53 2022-12-15 2022-12-17    0.0    0.000000
55 2023-03-10 2023-03-10    0.0    0.000000
56 2023-06-08 2023-06-08    0.0    0.000000

In [34]:
Ch.to_csv('../data/Cienega/Cienega_survey_imagery_HydroData.csv', encoding='utf-8', index=False)

In [35]:
#reading surveydata, making it into a geodataframe and adding x and y from the geometry to facilitate merge
C_surveyData['geometry'] = C_surveyData['geometry'].apply(wkt.loads)
gdf = gpd.GeoDataFrame(C_surveyData, geometry = 'geometry', crs='EPSG:26912')

gdf['x'] = gdf.geometry.x
gdf['y'] = gdf.geometry.y
gdf = gdf[['geometry', 'x', 'y', 'Year', 'wetdry']]
gdf['Year'] = pd.to_datetime(gdf['Year'])
print(gdf.loc[gdf['Year'] == '2020-06-12'])

                             geometry              x             y       Year  \
60743  POINT (533719.252 3542427.373)  533719.252411  3.542427e+06 2020-06-12
60744  POINT (533719.787 3542422.402)  533719.786671  3.542422e+06 2020-06-12
60745  POINT (533720.321 3542417.431)  533720.320931  3.542417e+06 2020-06-12
60746  POINT (533720.855 3542412.459)  533720.855191  3.542412e+06 2020-06-12
60747  POINT (533721.389 3542407.488)  533721.389451  3.542407e+06 2020-06-12
...                               ...            ...           ...        ...
63379  POINT (533717.227 3542446.217)  533717.227336  3.542446e+06 2020-06-12
63380  POINT (533717.762 3542441.246)  533717.761591  3.542441e+06 2020-06-12
63381  POINT (533718.296 3542436.274)  533718.295846  3.542436e+06 2020-06-12
63382  POINT (533718.830 3542431.303)  533718.830102  3.542431e+06 2020-06-12
63383  POINT (539670.938 3540292.749)  539670.938285  3.540293e+06 2020-06-12

      wetdry
60743    dry
60744    dry
60745    dry
60746    dry
60747    dry
...      ...
63379    dry
63380    dry
63381    dry
63382    dry
63383    dry

[2641 rows x 5 columns]

In [83]:
#C_mergedata = Ch.merge(gdf, left_on = 'Survey', right_on = 'Year')
#C_mergedata = C_mergedata.drop(columns=['Year', 'Survey', 'sum_P', 'Q_diff [%]'])
#split on wet/dry
#C_mergewet = C_mergedata[~(C_mergedata['wetdry'] == 'dry')]
#C_mergedry = C_mergedata[~(C_mergedata['wetdry'] == 'wet')]
C_new_hyd = C_hyd.merge( C_precipitation, left_on = 'datetime', right_on = 'day')
C_new_hyd = C_new_hyd.drop(columns = ['day', 'P [mm]'])
C_new_hyd.rename( columns={'P':'P [mm]'}, inplace=True )

In [84]:
#function to define assumptions around dates to choose, based on streamflow and precipitation
def tolerance(Q_P_data, date, start, end, adjust, tolerance_p, P_condition = -999, Q_condition = -999):
    
    end = pd.to_datetime(end)
    start = pd.to_datetime(start)
    if adjust == 'start':
        start_survey_date = C_sur_date[(C_sur_date['Cienega date'] >= start) & (C_sur_date['Cienega date'] <= end)]['Cienega date'].min()
        
        start = start_survey_date
        
    elif adjust == 'end':
        end_survey_date = C_sur_date[(C_sur_date['Cienega date'] <= end) & (C_sur_date['Cienega date'] >= start)]['Cienega date'].max()
        
        end = end_survey_date
    
    else:
        print('Invalid adjust parameter. Please use "start" or "end"')
        return

    sub_grupp = Q_P_data.loc[(Q_P_data[date] >= start) & (Q_P_data[date] <= end)].copy()
     
    sub_grupp['Q_diff'] = sub_grupp['Q [mm/d]'].diff()

    sub_grupp['tolerance_condition'] = sub_grupp['Q_diff'].apply(lambda x: abs(x) > tolerance_p * sub_grupp['Q [mm/d]'].mean() if pd.notnull(x) else False)
    
    if P_condition == -999 == Q_condition:
        print('not a valid condition')
        return 
        
    elif P_condition == -999:
        if Q_condition > 0:
            sub_grupp['condition'] = sub_grupp['Q [mm/d]'] > Q_condition
        else:
            sub_grupp['condition'] = sub_grupp['Q [mm/d]'] < -Q_condition
            
    elif Q_condition == -999:
        if P_condition > 0:
            sub_grupp['condition'] = sub_grupp['P [mm]'] > P_condition
        else:
            sub_grupp['condition'] = sub_grupp['P [mm]'] < -P_condition
            
    else:
        if (Q_condition > 0) & (P_condition > 0):
            sub_grupp['condition'] = (sub_grupp['Q [mm/d]'] > Q_condition) & (sub_grupp['P [mm]'] > P_condition)
        elif (Q_condition < 0) & (P_condition > 0):
            sub_grupp['condition'] = (sub_grupp['Q [mm/d]'] < -Q_condition) & (sub_grupp['P [mm]'] > P_condition)           
        elif (Q_condition > 0) & (P_condition < 0):
            sub_grupp['condition'] = (sub_grupp['Q [mm/d]'] > Q_condition) & (sub_grupp['P [mm]'] < -P_condition)            
        else:
            sub_grupp['condition'] = (sub_grupp['Q [mm/d]'] < -Q_condition) & (sub_grupp['P [mm]'] < -P_condition)

    yesgroup = sub_grupp[sub_grupp['condition'] == True]
       
    
    if len(yesgroup) == 0:
        return sub_grupp
    
    nogroup = sub_grupp[(sub_grupp.index > yesgroup.index[0]) & (sub_grupp['condition'] == False)]  
       
    if len(nogroup) == 0:
        return sub_grupp.loc[yesgroup.index[0]:]
    
    else:
        return sub_grupp.loc[yesgroup.index[0]:nogroup.index[0]]

# streamflow .diff (today-yesterday) so i can see if going up or down consequently, check for changes in sign, tolerance 10%,
# new condition is looking for changes so only % as condition
# p < 1 mm/d always
# look at streamflow plot
# argument, datecolumn and wetdry (3 months forward or 3 months back)

In [85]:
perennial = pd.DataFrame(gdf.groupby('geometry')['wetdry'].apply(lambda x: sum(x == 'wet'))).reset_index(drop=False)
perennialcount = pd.DataFrame(gdf.groupby('geometry')['wetdry'].count()).reset_index(drop=False)
                              
# whichever number is reasonable based on data?
perennial = perennial[(perennial['wetdry'] >= (perennialcount['wetdry'] - 6 ))]
#assume always wet
perennial = perennial.assign(wetdry = 'wet')
#perennial['geometry'] = perennial['geometry']
#perennial['geometry'] = perennial['geometry'].apply(wkt.loads)
gdf_perennial = gpd.GeoDataFrame(perennial, geometry = 'geometry', crs='EPSG:26912')
gdf_perennial['x'] = gdf_perennial.geometry.x
gdf_perennial['y'] = gdf_perennial.geometry.y
#making the gdf matching the perennial reaches to the imagery dates available 
imagery_perennial = pd.concat([gdf_perennial.assign(imagery = date) for date in C_im_date['date']], ignore_index=True)
imagery_perennial = imagery_perennial[~imagery_perennial['imagery'].isin(Ch['Imagery'])]
imagery_perennial

,geometry,wetdry,x,y,imagery
6,POINT (535313.855 3541935.057),wet,535313.855048,3.541935e+06,2016-11-17
7,POINT (535318.796 3541934.291),wet,535318.795968,3.541934e+06,2016-11-17
8,POINT (535328.678 3541932.758),wet,535328.677807,3.541933e+06,2016-11-17
9,POINT (535323.737 3541933.525),wet,535323.736887,3.541934e+06,2016-11-17
10,POINT (535333.619 3541931.992),wet,535333.618727,3.541932e+06,2016-11-17
...,...,...,...,...,...
5401,POINT (535318.796 3541934.291),wet,535318.795968,3.541934e+06,2024-04-15
5402,POINT (535328.678 3541932.758),wet,535328.677807,3.541933e+06,2024-04-15
5403,POINT (535323.737 3541933.525),wet,535323.736887,3.541934e+06,2024-04-15
5404,POINT (535333.619 3541931.992),wet,535333.618727,3.541932e+06,2024-04-15
5405,POINT (535338.560 3541931.226),wet,535338.559647,3.541931e+06,2024-04-15

In [72]:
#gdf[(gdf.x == imagery_perennial.x.values[1000]) & (gdf.y==imagery_perennial.y.values[1000])&(gdf.wetdry== 'dry')]

In [73]:
#Map = gdf[(gdf.Year=='2022-09-08')]
#Map.plot(column='wetdry')

In [74]:
Map[Map.wetdry=='wet']
C_sur_date

     mmddyyyy Cienega date  Cienega Length (mi)*
0    6/1/1999   1999-06-28                 2.700
2    6/1/2001   2001-06-26                 4.700
3    9/1/2001   2001-09-18                 5.900
4   12/1/2001   2001-12-14                 5.900
5    3/1/2002   2002-03-22                 7.200
..        ...          ...                   ...
86   6/1/2022   2022-06-03                 3.613
87   9/1/2022   2022-09-08                 5.040
88  12/1/2022   2022-12-15                 6.949
89   3/1/2023   2023-03-10                 7.612
90   6/1/2023   2023-06-08                 5.604

[90 rows x 3 columns]

In [86]:
#assuming wet stretches for the dates around 
years = [str(x) for x in range(2015,2025,1)]


wet_list = []
# fazer um df pra poder ver onde ta sempre molhado
# fazer df pra ver o que da pra considerar molhado em volta de datas
# fazer df pra ver o que pode ser considerado seco em volta de datas

for i in years:
    for date in C_surveyData['Year'].unique():

        if i in date:
            
            wet1 = tolerance(C_new_hyd, 'datetime' , (i+'-03-01'), (i+'-06-01'), 'start', 0.1, Q_condition = 0.0001, P_condition = -1)
            wet1 = wet1[~wet1['datetime'].isin(Ch['Imagery'])]
            wet_imagery = pd.merge(wet1, C_im_date, left_on = ['datetime'], right_on = ['date'], how = 'inner')
        #print(len(wet_imagery))
            wet_points = pd.DataFrame(gdf[gdf['Year']== (date)].groupby('geometry')['wetdry'].apply(lambda x: sum(x == 'wet'))).reset_index(drop = False)
            wet_points = wet_points[(wet_points['wetdry'] == 1)]
            wet_points = wet_points.assign(wetdry = 'wet')
            wet_im_points = [wet_points.assign(imagery = date) for date in wet_imagery['date']]
        
            try:
                wet = pd.concat(wet_im_points).drop(columns = ['level_1'])
                wet_list.append(wet)
            except:
                if len(wet_im_points)==0:
                    print('No data for year '+ i)
                else:
                    wet = wet_im_points[0]
                    wet_list.append(wet)
        #print(len(dry))
        

wet_df = pd.concat(wet_list)

wet_df

No data for year 2015
No data for year 2015
No data for year 2015
No data for year 2015
No data for year 2016
No data for year 2016
No data for year 2016
No data for year 2016
No data for year 2017
No data for year 2017
No data for year 2017
No data for year 2017
No data for year 2022
No data for year 2022
No data for year 2022
No data for year 2022

                            geometry wetdry    imagery
0     POINT (535086.573 3541970.310)    wet 2018-03-31
1     POINT (535081.632 3541971.076)    wet 2018-03-31
2     POINT (535076.691 3541971.843)    wet 2018-03-31
3     POINT (535071.750 3541972.609)    wet 2018-03-31
4     POINT (535066.809 3541973.376)    wet 2018-03-31
...                              ...    ...        ...
2636  POINT (539511.378 3540289.598)    wet 2023-03-14
2637  POINT (539516.317 3540290.375)    wet 2023-03-14
2638  POINT (539396.748 3540256.611)    wet 2023-03-14
2639  POINT (539392.098 3540254.772)    wet 2023-03-14
2640  POINT (539387.449 3540252.933)    wet 2023-03-14

[15888 rows x 3 columns]

In [98]:
years = [str(x) for x in range(2015,2025,1)]


dry_list = []
# fazer um df pra poder ver onde ta sempre molhado
# fazer df pra ver o que da pra considerar molhado em volta de datas
# fazer df pra ver o que pode ser considerado seco em volta de datas

for i in years:
    for date in C_surveyData['Year'].unique():

        if i in date:
            
            dry1 = tolerance(C_new_hyd, 'datetime' , (i+'-03-01'), (i+'-06-01'), 'start', 0.1, Q_condition = -0.0001, P_condition = -1)
            dry1 = dry1[~dry1['datetime'].isin(Ch['Imagery'])]
            dry_imagery = pd.merge(dry1, C_im_date, left_on = ['datetime'], right_on = ['date'], how = 'inner')
        #print(len(wet_imagery))
            dry_points = pd.DataFrame(gdf[gdf['Year']== (date)].groupby('geometry')['wetdry'].apply(lambda x: sum(x == 'dry'))).reset_index(drop = False)
            dry_points = dry_points[(dry_points['wetdry'] == 1)]
            dry_points = dry_points.assign(wetdry = 'dry')
            dry_im_points = [dry_points.assign(imagery = date) for date in dry_imagery['date']]
        
            try:
                dry = pd.concat(dry_im_points).drop(columns = ['level_1'])
                dry_list.append(dry)
            except:
                if len(dry_im_points)==0:
                    print('No data for year '+ i)
                else:
                    dry = dry_im_points[0]
                    dry_list.append(dry)
        #print(len(dry))
        

dry_df = pd.concat(dry_list)

dry_df

No data for year 2015
No data for year 2015
No data for year 2015
No data for year 2015
No data for year 2016
No data for year 2016
No data for year 2016
No data for year 2016

                            geometry wetdry    imagery
38    POINT (534579.660 3542198.058)    dry 2017-03-30
39    POINT (534584.530 3542196.928)    dry 2017-03-30
40    POINT (534589.401 3542195.798)    dry 2017-03-30
41    POINT (534594.272 3542194.668)    dry 2017-03-30
42    POINT (534604.013 3542192.408)    dry 2017-03-30
...                              ...    ...        ...
2592  POINT (539654.459 3540292.383)    dry 2023-03-14
2593  POINT (539659.459 3540292.405)    dry 2023-03-14
2594  POINT (539664.459 3540292.426)    dry 2023-03-14
2595  POINT (539670.938 3540292.749)    dry 2023-03-14
2596  POINT (539669.459 3540292.448)    dry 2023-03-14

[48493 rows x 3 columns]

In [89]:
#reading and concatenating the processed imagery 
path = '../data/Cienega/processed_imagery'

processed_imagery = glob.glob(path + '/*.csv')
processed_imagery.sort(key = lambda x: int(x.split('_buffer_')[1].split('.')[0]))
con_ready_imagery = []
for processed in processed_imagery:
    df= pd.read_csv(processed)
    con_ready_imagery.append(df)

concatenated = pd.concat(con_ready_imagery)

In [96]:
#concatenated['geometry'] = concatenated['geometry'].apply(wkt.loads)
gdf2 = gpd.GeoDataFrame(concatenated, geometry = 'geometry', crs='EPSG:26912')
gdf2['date'] = pd.to_datetime(gdf2['date'], format='%Y%m%d')

In [97]:
gdf2

,blue,green,red,NIR,missing,NDWI,p,date,geometry
0,866.78,1160.78,1527.67,2449.56,0,-0.36,0,2018-11-21,POINT (533719.252 3542427.373)
1,869.89,1168.11,1497.22,2404.89,0,-0.35,0,2018-11-21,POINT (533719.787 3542422.402)
2,893.56,1189.44,1491.22,2383.44,0,-0.33,0,2018-11-21,POINT (533720.321 3542417.431)
3,939.78,1227.22,1530.89,2385.56,0,-0.32,0,2018-11-21,POINT (533720.855 3542412.459)
4,1072.67,1341.00,1730.22,2272.00,0,-0.26,0,2018-11-21,POINT (533721.389 3542407.488)
...,...,...,...,...,...,...,...,...,...
232300,634.67,998.44,1149.78,3126.22,0,-0.52,0,2023-07-01,POINT (533717.227 3542446.217)
232301,666.89,1041.00,1218.00,3116.00,0,-0.50,0,2023-07-01,POINT (533717.762 3542441.246)
232302,806.11,1202.67,1484.00,3275.33,0,-0.46,0,2023-07-01,POINT (533718.296 3542436.274)
232303,871.67,1294.00,1620.00,3227.22,0,-0.43,0,2023-07-01,POINT (533718.830 3542431.303)
232304,0.00,0.00,0.00,0.00,0,NaN,0,2023-07-01,POINT (539670.938 3540292.749)