In [40]:
import pandas as pd
import csv 
import geopandas as gpd
from datetime import timedelta
from shapely.geometry import Point

In [26]:
R_im_date = pd.read_csv('../data/Ramsey/RamseyImageryDates.csv', parse_dates=['date'])
years = range(2015, 2025)
R_sur_date = pd.DataFrame([pd.Timestamp(year=year, month=6, day=15) for year in years], columns = ['date'])
R_im_date['date'] = pd.to_datetime(R_im_date['date'])
R_sur_date['date'] = pd.to_datetime(R_sur_date['date'])

R_hyd = pd.read_csv('../data/Ramsey/RamseyHydroData.csv')
R_hyd.rename( columns={'Unnamed: 0':'date'}, inplace=True )
R_hyd['date'] = pd.to_datetime(R_hyd['date'])

R_surveyData = pd.read_csv('../data/Ramsey/Ramsey_surveyData.csv')

In [4]:
matching_dates = []
tolerance = timedelta(days = 5)

for date1 in R_sur_date['date']:
    exact_date = False
    tol = False 
    for date2 in R_im_date['date']:
        if date1 == date2:
            matching_dates.append({'Survey': date1, 'Imagery': date2})
            exact_date = True
    if not exact_date:
        for date2 in R_im_date['date']:
            if abs(date1 - date2) <= tolerance:
                matching_dates.append({'Survey': date1, 'Imagery': date2})
                tol = True
        if not tol: 
            for date2 in R_im_date['date']:
                if abs(date1-date2) < timedelta(days = 10): 
                    matching_dates.append({'Survey': date1, 'Imagery': date2})


matching_df = pd.DataFrame(matching_dates)

In [5]:
R_datessurData = pd.merge(matching_df, R_hyd, left_on = 'Survey', right_on = 'date', how = 'left')
R_datesimData = pd.merge(matching_df, R_hyd, left_on = 'Imagery', right_on = 'date')
#R_datessurData = R_datessurData.drop(columns = ['Imagery','date'])
#R_datesimData = R_datesimData.drop(columns = ['Survey','date'])

In [6]:
def sum_pdatesbetween(d1, d2):
    #if d1 == d2:
      #  return R_hyd['P [mm]']['Date'=d1]
    r = pd.date_range(start=min(d1,d2), end=max(d1,d2))
    return R_hyd[R_hyd['date'].isin(r)]['P [mm]'].sum()

In [44]:
Rh = pd.DataFrame([])
#Rh['sum_P']=[]

Rh['Survey'] = matching_df['Survey']
Rh['Imagery'] = matching_df['Imagery']
Rh['sum_P'] = [sum_pdatesbetween(R_datessurData.loc[i, 'Survey'], R_datesimData.loc[i, 'Imagery']) for i in range(len(Rh))]
#R_datessurData['P [mm]'] + R_datesimData['P [mm]'] # + the days in between the two dates from R_hyd['P [mm]']
Rh['Q_s-i'] = (R_datessurData['Q [mm/d]'] - R_datesimData['Q [mm/d]']) / R_datessurData['Q [mm/d]'] * 100
Rh['Use/not'] = ['not', 'not', 'not', 'use', 'not', 'not',
                 'not', 'not', 'not', 'not', 'use', 'not', 
                 'not', 'not', 'not', 'use', 'use', 'use',
                 'not', 'use', 'not', 'use']
Rh = Rh.fillna('')

conditions = (Rh['Use/not'] == 'not')

Rh = Rh[~conditions]

Rh = Rh.drop(columns=['Use/not'])

Rh

       Survey    Imagery      sum_P Q_s-i
3  2017-06-15 2017-06-16   0.000000  50.0
10 2018-06-15 2018-06-14  11.789833
15 2019-06-15 2019-06-15   0.000000   0.0
16 2020-06-15 2020-06-15   0.931333   0.0
17 2021-06-15 2021-06-15   0.000000
19 2022-06-15 2022-06-14   0.000000
21 2023-06-15 2023-06-15   0.000000   0.0

In [45]:
Rh.to_csv('../data/Ramsey/Ramsey_survey_imagery_hydro.csv', index = 'False')

In [54]:
R_surveyData['geometry'] = R_surveyData['geometry']
gdf = gpd.GeoDataFrame(R_surveyData, crs='EPSG:26912')

gdf['x'] = gdf.geometry.x
gdf['y'] = gdf.geometry.y
gdf = gdf[['Unnamed: 0', 'geometry', 'x', 'y', 'Year', 'wetdry']]
gdf['Year'] = gdf['Year'].astype(int) 
gdf['Year'] = pd.to_datetime(gdf['Year'].astype(str) + '-06-15')
gdf

,Unnamed: 0,geometry,x,y,Year,wetdry
0,106,POINT (565860.524 3479495.203),565860.523924,3.479495e+06,2020-06-15,dry
1,107,POINT (565857.154 3479491.509),565857.153863,3.479492e+06,2020-06-15,dry
2,108,POINT (565853.784 3479487.815),565853.783803,3.479488e+06,2020-06-15,dry
3,109,POINT (565850.414 3479484.122),565850.413742,3.479484e+06,2020-06-15,dry
4,110,POINT (565847.044 3479480.428),565847.043681,3.479480e+06,2020-06-15,dry
...,...,...,...,...,...,...
13793,1440,POINT (563918.761 3476832.571),563918.760958,3.476833e+06,2023-06-15,dry
13794,1441,POINT (563918.030 3476837.517),563918.030009,3.476838e+06,2023-06-15,dry
13795,1442,POINT (563917.299 3476842.463),563917.299060,3.476842e+06,2023-06-15,dry
13796,1443,POINT (563916.568 3476847.409),563916.568111,3.476847e+06,2023-06-15,dry
13797,1444,POINT (563915.837 3476852.356),563915.837162,3.476852e+06,2023-06-15,dry

In [60]:
R_mergedata = Rh.merge(gdf, left_on = 'Survey', right_on = 'Year')
R_mergedata = R_mergedata.drop(columns=['Year', 'Unnamed: 0', 'Survey', 'sum_P', 'Q_s-i'])
R_mergedata

,Imagery,geometry,x,y,wetdry
0,2018-06-14,POINT (565860.524 3479495.203),565860.523924,3.479495e+06,dry
1,2018-06-14,POINT (565857.154 3479491.509),565857.153863,3.479492e+06,dry
2,2018-06-14,POINT (565853.784 3479487.815),565853.783803,3.479488e+06,dry
3,2018-06-14,POINT (565850.414 3479484.122),565850.413742,3.479484e+06,dry
4,2018-06-14,POINT (565847.044 3479480.428),565847.043681,3.479480e+06,dry
...,...,...,...,...,...
5912,2023-06-15,POINT (563918.761 3476832.571),563918.760958,3.476833e+06,dry
5913,2023-06-15,POINT (563918.030 3476837.517),563918.030009,3.476838e+06,dry
5914,2023-06-15,POINT (563917.299 3476842.463),563917.299060,3.476842e+06,dry
5915,2023-06-15,POINT (563916.568 3476847.409),563916.568111,3.476847e+06,dry
5916,2023-06-15,POINT (563915.837 3476852.356),563915.837162,3.476852e+06,dry